<img src="{{ randomBeer.image_url }}" alt="{{ randomBeer.name }}">
<h1>{{ randomBeer.name }}</h1>
<h5>{{ randomBeer.tagline}}</h4>
<p> {{ randomBeer.description }} </p>
<h4>Food Pairing</h4>

<ul>
  {{#each randomBeer.food_pairing}}
  <li>{{ this }}</li>
  {{/each}}
</ul>

<p><em><em></p>